/* Universal Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colours */

:root {
  /* Primary */

  --purple600: hsl(246, 80%, 60%);
  --orange300: hsl(15, 100%, 70%);
  --blue300: hsl(195, 74%, 62%);
  --pink400: hsl(348, 100%, 68%);
  --green400: hsl(145, 58%, 55%);
  --purple700: hsl(264, 64%, 52%);
  --yellow300: hsl(43, 84%, 65%);

  /* Neutral */

  --navy950: hsl(226, 43%, 10%);
  --navy900: hsl(235, 46%, 20%);
  --purple500: hsl(235, 45%, 61%);
  --navy200: hsl(236, 100%, 87%);

  /*Card Header*/

  --cardHeaderFS: 18px;
}
