/* Universal Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--navy950);
  font-family: "Rubik", sans-serif, serif;
}

/* Colours */

:root {
  /* Primary */

  --purple600: hsl(246, 80%, 60%);
  --orange300: hsl(15, 100%, 70%);
  --blue300: hsl(195, 74%, 62%);
  --pink400: hsl(348, 100%, 68%);
  --green400: hsl(145, 58%, 55%);
  --purple700: hsl(264, 64%, 52%);
  --yellow300: hsl(43, 84%, 65%);

  /* Neutral */

  --navy950: hsl(226, 43%, 10%);
  --navy900: hsl(235, 46%, 20%);
  --purple500: hsl(235, 45%, 61%);
  --navy200: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);

  /*Card Header*/

  --cardHeaderFS: 18px;
}

/* Card Styling */

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  height: auto;
  padding: 6em 2em;
  justify-content: center;
}

.card {
  height: 10em;
  width: 22em;
  background-color: var(--navy900);
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.stats-container {
  background-color: var(--navy900);
  width: 100%;
  height: 7.6em;
  padding: 1.5em;
  z-index: 2;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}

.stats-header {
  grid-column: 1;
  grid-row: 1;
  font-size: var(--cardHeaderFS);
  color: var(--white);
}

.hours {
  grid-column: 1;
  grid-row: 2;
  font-size: 2em;
  color: var(--white);
  justify-self: start;
  align-self: center;
}

.ellipsis {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.weekly-hours {
  grid-column: 2;
  grid-row: 2;
  color: var(--purple500);
  justify-self: end;
  align-self: center;
  font-size: 0.9em;
}

.card-img {
  position: absolute;
  top: 0;
  left: 14em;
}

/* Profile Container */

.profile-content-container {
  background-color: var(--purple600);
  height: 6.3em;
  border-radius: 0.9em;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  height: 4em;
  width: 4em;
  border: 4px solid var(--white);
  border-radius: 50%;
  margin-right: 1.5em;
}

.profile-text {
  width: 100%;
}

.report-text {
  margin-bottom: 0.5em;
  color: var(--purple500);
}

.name-text {
  color: var(--white);
  font-size: 1.4em;
  font-weight: lighter;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5em;
  gap: 2em;
}

.button {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  color: var(--purple500);
  padding: 0 1em;
}

.button:hover {
  color: var(--white);
}

/* Work Card */

.work {
  position: relative;
  background-color: var(--orange300);
}

/* Play Card */

.play {
  position: relative;
  background-color: var(--blue300);
}

/* Study */

.study {
  position: relative;
  background-color: var(--pink400);
}

/* Exercise */

.exercise {
  position: relative;
  background-color: var(--green400);
}

/* Social */

.social {
  position: relative;
  background-color: var(--purple700);
}

/* Self-Card */

.self-care {
  position: relative;
  background-color: var(--yellow300);
}
